<ion-view title="Select a Friend">
  <ion-nav-bar class="bar-calm">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ui-sref="menu.status">Cancel</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" padding="true">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchText">
      </label>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <i class="icon ion-refreshing placeholder-icon" style="font-size: 72px;" ng-show="spinner"></i>
      </div>
      <div class="col"></div>
    </div>
    <ion-list>
      <ion-item ng-repeat="friend in friends |  filter: searchText | orderBy: 'last'" ng-click="selectFriend(friend)"> <!--   orderBy: 'first'  -->
        {{friend.first}} {{friend.last}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
