<ion-view title="Select a Friend">
  <ion-nav-bar>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ui-sref="menu.status">Cancel</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" padding="true">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchText">
      </label>
    </div>
    <div>
      <!-- <img desc='spinner' ng-src="{{spinnerImage}}"> -->
      <img src="../../img/spinner.gif" ng-show=true style="display: block; margin: 0 auto">
<!--       <div style="display: block; margin: 0 auto; background-image:url('spinner.gif');">
      </div> -->
    </div>
    <ion-list>
      <ion-item ng-repeat="friend in friends |  filter: searchText | orderBy: 'last'" ng-click="selectFriend(friend)"> <!--   orderBy: 'first'  -->
        {{friend.first}} {{friend.last}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

