/* Empty. Add your own CSS if you like */
.offset {
  margin-top: -20%;
  position: relative;
}
.thread-photo {
  width: 100%;
  padding: 0 3%;
}
.modal-background {
  background-color: black;
}
.modal-photo {
  width: 100%;
}
.unread {
  background-color: #FFFBCC;
  border: 1px solid yellow;
}

/* status pages */
.status {
  color: gray;
}

/* status history page */
path.flatline {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.graphline {
  fill: none;
  stroke: rgb(40, 169, 162);
  stroke-width: 1.5px;
}
