<ion-view title="Add a Friend">
  <ion-nav-bar>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ui-sref="menu.status">Cancel</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" padding="true">

    <div class="card">
      <div class="item item-text-wrap">
        Add a friend.
      </div>
    </div>

    <!-- someone please center this :) -->
    <button class="button button-large button-energized" ui-sref="selectfriend">
      Select
    </button>

  </ion-content>
</ion-view>