/* Empty. Add your own CSS if you like */
.offset {
  margin-top: -20%;
  position: relative;
}
.thread-photo {
  width: 100%;
  padding: 0 3%;
}
.modal-background {
  background-color: black;
}
.modal-photo {
  width: 100%;
}
.unread {
  background-color: #FFFBCC;
  border: 1px solid yellow;
}

/* directive d3 bar chart test */

.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
