/* Empty. Add your own CSS if you like */
.offset {
  margin-top: -20%;
  position: relative;
}
.thread-photo {
  width: 100%;
  padding: 0 3%;
}
.modal-background {
  background-color: black;
}
.modal-photo {
  width: 100%;
}
.unread {
  background-color: #FFFBCC;
  border: 1px solid yellow;
}
