<div class="bar bar-header bar-calm">
  <button class="button button-icon icon ion-arrow-left-c" ui-sref="menu.status">back</button>
  <div class="h1 title">{{selectedUser.first}}</div>
  <button class="button button-icon icon ion-reply"></button>
</div>

<ion-view title="Friend">

  <ion-content class="has-header" style="text-align: center; background: white;" padding="false">

    <div ng-repeat="day in days">
      <d3-steps-chart-one-day steps-data="day.data"></d3-steps-chart-one-day>
      <h4 class="status">{{day.day}}</h4>
    </div>

  </ion-content>
</ion-view>
